POLYMARKET_USER_ADDRESS=0xfcfaB2BE454D55fBCe566455E8927af1b58ef8d8
POLYMARKET_FUNDER_ADDRESS=0xfcfaB2BE454D55fBCe566455E8927af1b58ef8d8
POLYMARKET_PRIVATE_KEY=0xca63ee0a7bb62d66e0e04c793917085fb5ba48f36ca391884d06efe415a1b4b4
POLYMARKET_SIGNATURE_TYPE=3
POLYMARKET_CLOB_API_KEY=
POLYMARKET_CLOB_API_SECRET=
POLYMARKET_CLOB_API_PASSPHRASE=
POLYMARKET_CHAIN_ID=137
POLYMARKET_CLOB_HOST=https://clob.polymarket.com
POLYMARKET_GAMMA_API=https://gamma-api.polymarket.com
POLYMARKET_DATA_API=https://data-api.polymarket.com

POLYBOT_CONFIG_PATH=config.yaml
POLYBOT_DB_PATH=data/polybot.sqlite3
POLYBOT_ENABLE_TRADING=false
